---
import { Icon } from 'astro-icon/components';
import UserDropdown from './UserDropdown.astro';
import Notifications from './Notifications.astro';
---

<nav class="navbar navbar-expand-md">
  <div class="container">
    <a class="navbar-brand" href="#">
      <img
        src="https://getbootstrap.com/docs/5.3/assets/brand/bootstrap-logo.svg"
        alt="Bootstrap"
        width="30"
        height="24"
      />
    </a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Link</a>
        </li>
      </ul>
      <div class="d-flex align-items-center nav-actions" id="navActions">
        <div
          class="d-flex align-items-center px-2 py-1 search-bar"
          role="search"
        >
          <input type="text" placeholder="Search" aria-label="Search" />
          <button>
            <Icon name="mdi:search" />
          </button>
        </div>
        <Notifications />
        <UserDropdown />
      </div>
    </div>
  </div>
</nav>
<style lang="scss">
  @import '../../scss/_variables.scss';
  .search-bar {
    background: $card;
    border-radius: $border-radius;

    input {
      width: 100%;
    }
  }
  .nav-actions {
    gap: 1rem;
  }
</style>
