---
import { Icon } from "astro-icon/components";

---

<button>
    <Icon name="mdi:bell-outline" size={25}/>
</button>


<style lang="scss">
    @import '../../scss/_variables.scss';
    button:hover {
        color: $primary;
    }
</style>