---

---

<div class="dropstart">
  <button
    class="user-btn"
    type="button"
    data-bs-toggle="dropdown"
    aria-expanded="false"
  >
    <img
      src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTmmoiI84W8eRpqiqUirepAZaY1m2WSkJyLJnkOCkbuUA&s"
    />
  </button>
  <ul class="dropdown-menu">
    <li><a class="dropdown-item" href="#">Action</a></li>
    <li><a class="dropdown-item" href="#">Another action</a></li>
    <li><a class="dropdown-item" href="#">Something else here</a></li>
  </ul>
</div>

<style lang="scss">
  @import '../../scss/_variables.scss';
  .user-btn {
    border: 2px solid $primary;
    border-radius: 50px;
    img {
      border-radius: 50px;
      width: 2rem;
      height: 2rem;
    }
  }
</style>
