  @mixin responsive($breakpoint) {
      $width: 768px;

      @if $breakpoint ==sm {
          $width: 576px;
      }

      @if $breakpoint ==md {
          $width: 768px;
      }

      @if $breakpoint ==lg {
          $width: 992px;
      }

      @if $breakpoint ==xl {
          $width: 1200px;
      }

      @media (min-width: $width) {
          @content;
      }
  }