@import '../utility/functions';

:root {
    --body-bg-color: #e5ecef;
    --theme-bg-color: #fafafb;
    --body-font: 'Poppins', sans-serif;
    --body-color: #2f2f33;
    --active-color: #0162ff;
    --active-light-color: #e1ebfb;
    --header-bg-color: #fff;
    --search-border-color: #efefef;
    --border-color: #d8d8d8;
    --alert-bg-color: #e8f2ff;
    --subtitle-color: #83838e;
    --inactive-color: #f0f0f0;
    --placeholder-color: #9b9ba5;
    --time-button: #fc5757;
    --level-button: #5052d5;
    --button-color: #fff;
}

:root {
    --clr-primary-50: 231, 241, 255;
    --clr-primary-100: 209, 227, 255;
    --clr-primary-200: 185, 212, 255;
    --clr-primary-300: 161, 198, 255;
    --clr-primary-400: 138, 183, 255;
    --clr-primary-500: 115, 167, 255;
    --clr-primary-600: 92, 152, 255;
    --clr-primary-700: 68, 135, 255;
    --clr-primary-800: 42, 117, 255;
    --clr-primary-900: 1, 98, 255;
}


$bg-100: clr(primary, 100);
$bg-200: #fafafb;
$body: #2f2f33;


body {
    background-color: $bg-100;
}