@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 98%;
    --foreground: 235 19% 35%;
    --card: 0 0% 98%;
    --card-foreground: 235 19% 35%;
    --popover: 0 0% 98%;
    --popover-foreground: 235 19% 35%;
    --primary: 233 11% 84%;
    --primary-foreground: 235 19% 35%;
    --secondary: 235 32% 92%;
    --secondary-foreground: 235 19% 35%;
    --muted: 0 0% 20%;
    --muted-foreground: 236 19% 70%;
    --accent: 240 9% 61%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 85% 60%;
    --destructive-foreground: 235 19% 35%;
    --border: 0 0% 20%;
    --input: 0 0% 20%;
    --ring: 240 9% 40%;
    --radius: .7rem;
  }
 
  .dark {
    --background: 0 0% 2%;
    --foreground: 235 19% 65%;
    --card: 0 0% 2%;
    --card-foreground: 235 19% 65%;
    --popover: 0 0% 2%;
    --popover-foreground: 235 19% 65%;
    --primary: 233 11% 16%;
    --primary-foreground: 235 19% 65%;
    --secondary: 235 32% 8%;
    --secondary-foreground: 235 19% 65%;
    --muted: 0 0% 80%;
    --muted-foreground: 235 19% 65%;
    --accent: 240 9% 39%;
    --accent-foreground: 0 0% 2%;
    --destructive: 0 62% 30%;
    --destructive-foreground: 240 18% 10%;
    --border: 0 0% 60%;
    --input: 0 0% 80%;
    --ring: 240 9% 60%;
  }
}
@layer base {
  * {
    @apply border-border;
  }

  ::selection {
    @apply bg-primary text-foreground
  }

  body {
    @apply bg-background text-foreground;
  }
}