---
import MainLayout from '../layouts/MainLayout.astro';
---

<MainLayout title="Telehunt">
  <div class="dflex container">
    <button class="btn btn-primary">Click</button>
    <button class="btn btn-danger">Click</button>
    <button class="btn btn-success">Click</button>
  </div>
</MainLayout>
