@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 245, 41%, 11%;
    --foreground: 0, 0%, 100%;
    --primary: 252, 86%, 63%;
    --primary-foreground: 0, 0%, 100%;
    --danger: 354, 70%, 54%;
    --danger-foreground: 0, 0%, 100%;
    --card: 250, 33%, 15%;
    --card-foreground: 0, 0%, 100%;
    --muted: 250, 3%, 40%;
    --success: 103, 67%, 44%;
  }
}
