@import '/node_modules/bootstrap/scss/functions';
@import '/node_modules/bootstrap/scss/mixins';
$primary: #6f4ff2;
$body-bg: #f2f2f2;
$secondary: #6c7aa0;
$body-color: #000000;
$card: #ffffff;


$border-radius: 9px;
@import '/node_modules/bootstrap/scss/variables';
$custom-theme: (
  'primary': $primary,
  'card': $card,
);

$theme-colors: map-merge($custom-theme, $theme-colors);
